/* -----------共用----------- */
:root {
    /* 主色 */
    --color1:#90e0ef;
    --color2:#ffc8dd;
    --color3:#99582a;
    /* 輔色 */
    /* --secondary1:#caf0f8; */
    --secondary1:#ecfbfe;
    --secondary2:#fff0f3;
    --secondary3:#ffffff;
    /* 文字 */
    --text1:#e22f2f;
    --text2:#432818;
}
html {
    background-color: var(--secondary1);
}
body {
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
}
main {
    flex: 1;
}
.margincenter{
    margin: 0 auto;
    max-width: 1200px;
}
.button {
    text-align: center;
    margin-top: 20px;
    & button {
        padding: 12px 48px;
        border-radius: 999px;
        border: 1px solid #7fbaba;
        background: var(--color1);
        color: #fff;
        font-size: 14px;
        letter-spacing: 3px;
        cursor: pointer;
        &:hover {
            background-color: var(--secondary2);
            border: 1px solid var(--color2);
        }
    }
    & a {
        display: inline-block;
        padding: 16px 48px;
        border-radius: 999px;
        border: 1px solid #7fbaba;
        background: var(--color1);
        color: #fff;
        font-size: 14px;
        letter-spacing: 3px;
        cursor: pointer;
        &:hover {
            background-color: var(--secondary2);
            border: 1px solid var(--color2);
        }
    }
}

/* -----------頁首----------- */
#navbar {
    display: flex;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    background-color: var(--secondary3);
    box-shadow: 0px 15px 20px var(--secondary3);
    .navigation {
        display: flex;
        padding-top: 10px;
        & ul {
            display: flex;
            & li {
                margin-right: 50px;
                & a {
                    color: var(--text2);
                    transition: .45s;
                    &:hover {
                        background-color: var(--secondary2);
                    }
                }
            }
        }
    }
}


/* -----------首頁----------- */
/* 背景圖片 */
body.home::before {
    content: "";
    position: fixed;
    top: 66px;
    left: 0;
    width: 400px;
    height: calc(100vh - 66px);
    background-image: url("../img/wu0.png");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}
.homemain {
    position: relative;
    display: flex;
    padding-bottom: 30px;
    margin-left: 160px;
    margin-top: 66px;
    /* 主頁介紹區 */
    & .introduce {
        width: 100%;
        max-width: 760px;
        margin-top: 40px;
        padding: 40px 48px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(8px);
        border-radius: 22px;
        & .teamname {
            font-size: 1.4rem;
            color: var(--color3);
        }
        & p {
            color: var(--text2);
            line-height: 1.9rem;        /* 行距拉開 */
            margin-bottom: 1rem;     /* 段落間距 */
        }
        & p.lead {
            font-size: 1.45rem;
            color: var(--color3);
            margin-bottom: 3rem;
        }
        &::before {
            content: "";
            display: block;
            width: 208px;
            height: 2px;
            background-color: rgba(180, 200, 200, 0.6);
            margin-bottom: 3rem;
        }
        /* 圖片 */
        & .introduceimgs {
            position: relative;
            height: 560px;
            margin: 40px 15px 30px 15px;
            & .introduceimg1 {
                position: absolute;
                width: 400px;
                height: 200px;
                background-position: center;
                background-size: cover;
                object-fit: cover;
            }
            & .introduceimg2 {
                position: absolute;
                width: 400px;
                height: 200px;
                background-position: center;
                background-size: cover;
                object-fit: cover;
                right: 0px;
                top: 180px;
            }
            & .introduceimg3 {
                position: absolute;
                width: 400px;
                height: 200px;
                background-position: center;
                background-size: cover;
                object-fit: cover;
                left: 40px;
                top: 360px;
            }
        }
    }
}


/* -----------菜單----------- */
.menumain {
    margin-top: 126px;
    padding-bottom: 40px;
    width: 800px;
    & .title {
        text-align: center;
        margin-bottom: 56px;
        & h3 {
            font-size: 24px;
            font-weight: 300;
            &::after {
                content: "";
                display: block;
                width: 320px;              /* 底線長度（可調） */
                height: 2px;               /* 線的粗細 */
                background-color: #c9dede;
                margin: 5px auto 0;       /* 與文字距離 + 置中 */
            }
        }
    }
}
/* 特色標籤 */
.menu-tag {
    display: inline-block;
    margin: 32px 0;
    font-size: 20px;
}
/* 清單 */
.menu-list {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 40px;
    /* 單一餐點 */
    & .menu-item {
        display: flex;
        gap: 32px;
        align-items: center;
        /* 圖片 */
        & .menu-img {
            width: 180px;
            height: 140px;
            overflow: hidden;
            border-radius: 12px;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        /* 文字 */
        & .menu-text h4 {
            font-size: 18px;
            margin-bottom: 8px;
        }
        & .menu-text p {
            font-size: 14px;
            line-height: 1.6;
            color: #555;
        }
    }
}


/* -----------定位----------- */
.reservationmain {
    margin-top: 126px;
    padding-bottom: 40px;
    width: 800px;
    & .title {
        text-align: center;
        margin-bottom: 56px;
        & h3 {
            font-size: 24px;
            font-weight: 300;
            &::after {
                content: "";
                display: block;
                width: 320px;              /* 底線長度（可調） */
                height: 2px;               /* 線的粗細 */
                background-color: #c9dede;
                margin: 5px auto 0;       /* 與文字距離 + 置中 */
            }
        }
    }
}
.booking-block {
    margin-bottom: 32px;
    text-align: center;

    & h4 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    & .booking-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 360px;
        margin: 0 auto;
        & input {
            padding: 12px 16px;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 14px;
        }
    }
}
.dateinput {
    display: none;
}
.flatpickr-calendar.inline {
    margin: 0 auto;
}

/* -----------聯絡----------- */
.contactmain {
    margin-top: 126px;
    padding-bottom: 40px;
    width: 800px;
    & .title {
        text-align: center;
        margin-bottom: 56px;
        & h3 {
            font-size: 24px;
            font-weight: 300;
            &::after {
                content: "";
                display: block;
                width: 320px;              /* 底線長度（可調） */
                height: 2px;               /* 線的粗細 */
                background-color: #c9dede;
                margin: 5px auto 0;       /* 與文字距離 + 置中 */
            }
        }
    }
}
.contactcontent {
    display: flex;
    gap: 64px;
    align-items: center;
    & .info {
        flex: 1;
        line-height: 1.8;
        padding-bottom: 12px;
    }
    & .map {
        flex: 1;
        & iframe {
            width: 100%;
            height: 320px;
            border-radius: 16px;
        }
    }
}

/* -----------頁尾----------- */
footer {
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    padding: 20px;

    & h2 {
        font-size: 1.2rem;

        & span {
            font-size: 1rem;
            font-family: "Royalty Free";
            padding-left: 0.5rem;
        }
    }

    /* nav下面第一層ul */
    & nav > ul {
        display: flex;

        & > li {
            margin: 0 1rem;
        }
    }

    & small {
        align-self: flex-end
    }
}

